@import '../../scss/fonts';
@import '../../scss/colors';
@import '../../scss/buttons';

.pt-post {
  color: $clr-primary;
  background: $bg-secondary;
  border-radius: 0.5em;
  font-family: $ff-primary;
  font-weight: $fw-bold;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.pt-post__head {
  overflow: hidden;
  border-radius: 0.5em 0.5em 0 0;
  flex-basis: 100%;
  max-height: 15em;

  img {
    min-height: 20em;
    object-fit: cover;
  }
}

ul > .pt-post:only-child {
  & > .pt-post__head {
    max-height: none;
  }
}

.pt-icons_likes > span:first-child,
.pt-icons_comments > span:first-child {
  cursor: pointer;
}
