// * 1. __Neutral__
$white: #ffffff;
$black: #000000;

// * 2. __Background__
$bg-primary: #432626;
$bg-secondary: #413d58;
$bg-tertiary: #749ac3;
$bg-backdrop: rgba(67, 38, 38, 50%);

// * 3. __Color__
$clr-primary: $white;
$clr-secondary: #c79c9c;
$clr-tertiary: #749ac3;
$clr-disabled: rgb(199, 156, 156, 50%);

// * 4. __Button__
$btn-primary: #a675d0;
$btn-secondary: #413d58;
